<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.edurelate">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/edurelate_round_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/edurelate_round_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edurelate">
        <activity android:name=".activities.ChatActivity"></activity>
        <activity android:name=".activities.PeopleActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.GroupDetailsActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>